@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Flavor Frenzy Range</h1>
    <p>The Flavour Frenzy, a leading food industry brand that offers quick and easy meal solutions for busy chefs and home cook.</p>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

        <!-- First Photo Grid-->
        <div class="w3-row-padding w3-padding-16 w3-center" id="food">
            <h2>Bites</h2>
            <div class="w3-quarter">
                <img src="images/cheeseb.png" alt="Cheese Bites" style="width:100%">
                <h3>Cheese Bites</h3>
                <p>Avaiable in 10+ stores in Auckland</p>
            </div>

            <div class="w3-quarter">
                <img src="images/chickenb.png" alt="Chicken Bites" style="width:100%">
                <h3>Chicken Bites</h3>
                <p>Avaiable in 5+ stores in Auckland</p>
            </div>

            <div class="w3-quarter">
                <img src="images/brockli.png" alt="Broccoli Bites" style="width:100%">
                <h3>Broccoli Bites</h3>
                <p>Avaiable in 11+ stores in Auckland</p>
            </div>

           
        </div>

        <!-- Second Photo Grid-->
        <div class="w3-row-padding w3-padding-16 w3-center">
            <h2>Patties</h2>
            <div class="w3-quarter">
                <img src="images/qbp.png" alt="Quater Pounder" style="width:100%">
                <h3>Quater Pounder</h3>
                <p>Avaiable in 16+ stores in Auckland</p>
            </div>

            <div class="w3-quarter">
                <img src="images/southernstyle.png" alt="Southern Style Chicken" style="width:100%">
                <h3>Southern Style Chicken</h3>
                <p>Avaiable in 8+ stores in Auckland</p>
            </div>

        </div>

         <!--Tthird Photo Grid-->
        <div class="w3-row-padding w3-padding-16 w3-center">
            <h2>Toppas</h2>
            <div class="w3-quarter">
                <img src="images/LasagnToppa.png" alt="Lasagne Toppa" style="width:100%">
                <h3>Lasagne Toppa</h3>
                <p>Avaiable in 13+ stores in Auckland</p>
            </div>

            <div class="w3-quarter">
                <img src="images/chcikenblue.png" alt="Chicken Cordon Bleu" style="width:100%">
                <h3>Chicken Cordon Bleu</h3>
                <p>Avaiable in 20+ stores in Auckland</p>
            </div>

            <div class="w3-quarter">
                <img src="images/baconncheese.png" alt="Bacon & Cheese Toppa" style="width:100%">
                <h3>Bacon & Cheese Toppa</h3>
                <p>Avaiable in 15+ stores in Auckland</p>
            </div>
        </div>
    </div>
</div>
